<div class="container">
<%= form_for @product do |f|%>
  <% if @product.errors.any? %>
 <p><%= pluralize(@product.errors.count,'error') %> prohibited to save student record</p>
    <% @product.errors.full_messages.each do |error| %>
    <p><%= error%></p>
    <%end%>
    <%end%>
    <div class="form-group">
      <%= f.label :product_name %>
      <%= f.text_field :product_name, :class=>"form-control"%>
    </div>
    <div class="form-group">
      <%= f.label :product_price %>
      <%= f.text_field :product_price, :class=>"form-control"%>
    </div>
    <div class="form-group">
      <%= f.label :product_description %>
      <%= f.text_field :product_description, :class=>"form-control"%>
    </div>
    <div class="form-group">
      <%= f.label :product_quantity %>
      <%= f.text_field :product_quantity, :class=>"form-control"%>
    </div>
    <div class="form-group">
      <%= f.label :product_avail_quantity %>
      <%= f.text_field :product_avail_quantity, :class=>"form-control"%>
    </div>
    <div class="form-group">
      <%= f.label :product_sell_price %>
      <%= f.text_field :product_sell_price, :class=>"form-control"%>
    </div>
    <div class="form-group">
      <%= f.label :product_image %>
      <%= f.file_field :product_images %>
    </div>
    <%= f.submit%>
  <%end%>
 </div>