<h1>Products show</h1>
<p>Product Name: <%= @product.product_name%></p>
<p>Product Price: <%= @product.product_price%></p>
<p>Product Description: <%= @product.product_description%></p>
<p>Product Quantity: <%= @product.product_quantity%></p>
<p>Product Available Quantity: <%= @product.product_avail_quantity%></p>
<p>Product Sell Price: <%= @product.product_sell_price%></p>
<p>Product Image: <%= image_tag @product.product_images%></p>